<form (ngSubmit)="onConnect()" #connectModel="ngForm">
<mat-form-field appearance="fill">
    <mat-label>username</mat-label>
    <input 
        matInput 
        [(ngModel)]="nick" 
        name="username" 
        required
    />
    <mat-hint>please enter chat username</mat-hint>
    <mat-error>Username must have at least 2 characters</mat-error>
  </mat-form-field>
  <button 
    type="submit" 
    mat-raised-button 
    color="primary" 
    [disabled]="connectModel.form.invalid || connected ">Connect</button> 
    <button 
    mat-raised-button 
    color="primary" 
    (click)="onDisconnect()"
    [disabled]="!connected ">Disconnect</button>
</form>

<div *ngIf="connected">
<form (ngSubmit)="onSend()" #sendModel="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <input 
            matInput 
            [(ngModel)]="messageToSend" 
            name="message" 
            required
            #msgInput
        />
      </mat-form-field>
      <button 
        type="submit" 
        mat-raised-button 
        color="primary" 
        [disabled]="sendModel.form.invalid">Send</button> 
    </form>

<table mat-table matSort [dataSource]="messages">
    <mat-text-column name="name" headerText="Name"></mat-text-column>
    <mat-text-column name="message" headerText="Message"></mat-text-column>
  
    <tr mat-header-row *matHeaderRowDef="['name', 'message']"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: ['name', 'message']"></tr>
  </table>
</div>