<table mat-table [dataSource]="users">
    <mat-text-column name="name" headerText="Name"></mat-text-column>
    <mat-text-column name="id" headerText="ID"></mat-text-column>
    <mat-text-column name="email" headerText="E-mail"></mat-text-column>
    <!-- <mat-text-column name="lastLogin" headerText="Last login"></mat-text-column> -->
    <ng-container matColumnDef="lastLogin">
        <th mat-header-cell *matHeaderCellDef> Last login </th>
        <td mat-cell *matCellDef="let user"> 
            {{user.lastLogin | date : "d.M.y H:mm:ss"}} 
        </td>
    </ng-container>
    <mat-text-column name="active" headerText="Active"></mat-text-column>
    <!-- <mat-text-column name="groups" headerText="Groups"></mat-text-column> -->
    <ng-container matColumnDef="groups">
        <th mat-header-cell *matHeaderCellDef> Groups </th>
        <td mat-cell *matCellDef="let user"> 
            {{user.groups | groupsToString}} 
        </td>
    </ng-container>
    <ng-container matColumnDef="perms">
        <th mat-header-cell *matHeaderCellDef> Permissions </th>
        <td mat-cell *matCellDef="let user"> 
            {{user.groups | groupsToString: 'perms'}} 
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>