<mat-form-field>
    <mat-label>filter</mat-label>
    <input matInput (keyup)="onFilter($event)">
  </mat-form-field>

  <table mat-table matSort [dataSource]="filmsDataSource" multiTemplateDataRows>
    <mat-text-column name="id" headerText="ID"></mat-text-column>
    <!-- <mat-text-column name="name" headerText="Name"></mat-text-column> -->
    <ng-container matColumnDef="nazov">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>nazov filmu</th>
      <td mat-cell *matCellDef="let film">
        {{ film.nazov }}
      </td>
    </ng-container>
    <ng-container matColumnDef="SKnazov">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>slovensky nazov</th>
        <td mat-cell *matCellDef="let film">
          {{ film.slovenskyNazov }}
        </td>
      </ng-container>
    <!-- <mat-text-column name="email" headerText="E-mail"></mat-text-column> -->
    <ng-container matColumnDef="rok">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>rok</th>
      <td mat-cell *matCellDef="let film">
        {{ film.rok }}
      </td>
    </ng-container>

    <ng-container matColumnDef="AFI98">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>AFI 1998</th>
        <td mat-cell *matCellDef="let film">
          {{ film.poradieVRebricku['AFI 1998'] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="AFI07">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>AFI 2007</th>
        <td mat-cell *matCellDef="let film">
          {{ film.poradieVRebricku['AFI 2007'] }}
        </td>
      </ng-container>

      <!-- expand tabulka -->
      <ng-container matColumnDef="expandedDetail" >
        <td mat-cell *matCellDef="let film" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
               [@detailExpand]="film == expandedElement ? 'expanded' : 'collapsed'">

               <app-film-detail *ngIf="film.imdbID" [imdbId]="film.imdbID" [rezia]="film.reziser" [postavy]="film.postava"></app-film-detail>


          </div>
        </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let film; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement ===film"
      (click)="expandedElement = expandedElement ===film ? null :film">
  </tr>
  <tr mat-row *matRowDef="let myRowData; columns: ['expandedDetail']" class="example-detail-row"></tr>
    <!-- <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr> -->
  </table>

  <mat-paginator
    [pageSize]="3"
    [pageSizeOptions]="[3, 5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
