<div class="info_section" *ngIf="movieData">
  <div class="movie_header">
    <img class="poster" src="{{ movieData.Poster }}" />
    <h1>{{ movieData.Title }}</h1>
    <p class="genres">{{ movieData.Genre }}</p>
    <div>
      <span class="minutes">{{ movieData.Language }}</span>
      <span class="minutes">{{ movieData.Runtime }}</span>
    </div>
    <div>
      <p><span class="people">Directed by: </span>{{reziser}}</p>
      <p><span class="people">Starring:</span> {{obsadenie}}</p>
    </div>
  </div>
  <div class="plot">
    <h4>Plot:</h4>
    {{movieData.Plot}}
  </div>
</div>
